.about-section
  background-color: $h2-bg-opacity
  padding: 75px 20px 108px
  display: flex
  justify-content: center
  .container
    max-width: 854px
    display: flex
    flex-direction: column
    .title
      font-size: 36px
      color: $h2-color
      text-transform: uppercase
      font-weight: 400
      margin-bottom: 67px
      text-align: center
    .about-content
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-around
      align-items: center
      h3
        font-size: 16px
        font-weight: 400
        text-transform: uppercase
        color: $h2-color
        margin-bottom: 31px
      .info
        color: $nav-bg
        text-align: center
        font-size: 12px
      .link
        color: $link-color
        text-decoration: underline
      .kpmg-link
        font-weight: 700

      .read-more-link
        font-size: 10px
        margin-bottom: 20px
      .col
        display: flex
        flex-direction: column
        align-items: center
        @media only screen and (max-width: 910px)
          margin-bottom: 30px
        @media only screen and (max-width: 890px)
          padding: 0 30px

        .icon
          margin: 0 auto 21px
      .column-1 .info, .column-3 .info
        margin-bottom: 9px

      .column-1
        max-width: 208px
        margin-right: 90px
        @media only screen and (max-width: 890px)
          margin-right: 0
        .icon
          width: 52px

      .column-2
        max-width: 246px
        margin-right: 81px
        @media only screen and (max-width: 890px)
          margin-right: 0
        .icon
          width: 62px
        .info
          margin-bottom: 23px

      .column-3
        max-width: 229px
        .icon
          width: 44px