.header
  background-color: $nav-bg
  display: flex
  justify-content: center
  padding: 0 15px 26px
  position: relative
  @media only screen and (max-width: 660px)
    justify-content: flex-end
    box-sizing: border-box
    height: 95px
    padding-bottom: 0
    padding-left: 100px
    padding-top: 30px

    .nav-bar.visible
      display: block
      position: absolute
      top: 95px
      left: 0
      width: 100%
      background-color: $nav-bg
      z-index: 10

  .burger-menu
    display: none
    @media only screen and (max-width: 660px)
      display: block
      width: 32px
      height: 32px
      position: relative
      .burger-line
        width: 32px
        height: 4px
        background-color: #fff
        position: absolute
        right: 0
        top: 0
        transition: .5s all
      .second-l
        top: 11px
      .third-l
        top: 22px
      .burger-label
        max-width: 50px
        line-height: 45px

  .nav-bar
    display: flex
    width: 100%
    justify-content: space-between
    align-items: center
    color: #fff
    max-width: 1140px
    padding-top: 28px
    @media only screen and (max-width: 915px)
      flex-direction: column
    @media only screen and (max-width: 660px)
      display: none

    .logo-link, .nav-link-group, .nav-link-group .nav-link, .challenge-btn
      margin-right: 10px

    .brand
      display: flex
      width: 454px
      justify-content: space-between
      margin-right: 30px
      align-self: flex-start
      padding-top: 6px
      @media only screen and (max-width: 915px)
        align-self: center
        margin-bottom: 25px
        margin-right: 0
      @media only screen and (max-width: 660px)
        flex-direction: column
        align-items: center
        width: 100%

      .logo-link
        min-width: 67px
        width: 67px
        .logo-img
          width: 100%
      .brand-text
        @include font-main-bold
        font-size: 30px
        line-height: 23px
        padding-top: 4px
        //margin-right: 23px
        white-space: nowrap
        align-self: flex-start
        @media only screen and (max-width: 660px)
          align-self: center

    .right-nav-side
      display: flex
      flex-grow: 1
      max-width: 602px
      justify-content: space-between
      @media only screen and (max-width: 915px)
        width: 100%
        flex-grow: initial
      @media only screen and (max-width: 660px)
        flex-direction: column
        align-items: center

      .nav-link-group
        font-size: 12px
        max-width: 225px
        flex-grow: 1
        display: flex
        align-items: center
        justify-content: space-between
        @media only screen and (max-width: 660px)
          margin-bottom: 25px

        .nav-link
          padding-bottom: 4px
          padding-top: 4px
          height: fit-content
          text-decoration: none
          border-bottom: 1px solid transparent
        .nav-link:hover
          border-bottom: 1px solid #fff
        .nav-link:first-child
          margin-right: 19px
        .nav-link:last-child
          margin-right: 0

      .challenge-btn
        box-sizing: border-box
        text-align: center
        text-transform: uppercase
        padding-top: 12.5px
        width: 201px
        height: 41px
        min-width: 201px
        border-radius: 20px
        border: 1px solid #1c8ece
        font-size: 16px
        line-height: 11px
        @media only screen and (max-width: 660px)
          margin-bottom: 25px

      .burger-m-language
        text-transform: uppercase
        font-family: CirceRegular, sans-serif
        display: flex
        position: relative
        align-items: center
        @media only screen and (max-width: 660px)
          margin-bottom: 25px
        .language-select
          width: 37px
          display: flex
          text-transform: uppercase
          //align-items: center
          justify-content: space-between
          cursor: pointer
          span
            font-size: 12px
            margin-right: 5px

        .lang-arrow
          width: 16px
          height: 10px
          position: relative
          &:after
            position: absolute
            content: ''
            width: 10px
            height: 10px
            left: 0
            top: -5px
            border: solid #fff
            border-width: 0 1px 1px 0
            transform: rotate(45deg)

        .select-lang-list.visible
          display: block
        .select-lang-list
          background-color: rgba(0, 0, 0, 0.5)
          position: absolute
          top: 35px
          display: none
          right: -3px
          z-index: 9

          .lang-selector
            display: block
            padding: 20px 20px 0
            font-size: 14px
            text-align: center
            &:last-child
              padding-bottom: 20px
