<section class="about-section">
    <div class="container">
        <h2 class="title">
            About us
        </h2>
        <div class="about-content">
            <div class="column-1 col">
                <figure class="icon">
                    <img src="assets/img/icons/firstOfBig4.png" alt="first-of-big-img">
                </figure>
                <h3 class="column-title">
                    first of big4
                </h3>
                <div class="info">
                    <b>
                        KPMG in Ukraine is the first and only
                        one among the Big 4
                    </b>
                    and other
                    companies, members of international
                    networks, that launched its own
                    auction platform...
                </div>
                <a href="#" class="read-more-link link">
                    Read more
                </a>
                <a href="#" class="kpmg-link link">
                    kpmg.ua
                </a>
            </div>
            <div class="column-2 col">
                <figure class="icon">
                    <img src="assets/img/icons/international.png" alt="international-img">
                </figure>
                <h3 class="column-title">
                    international
                </h3>
                <div class="info">
                    <b>
                        KPMG International is a global network
                        of professional firms providing audit, tax
                        and advisory services.
                    </b>
                    We operate in 154
                    countries and have more than 200,000
                    professionals working in member firms around
                    the world. KPMG International member-firms
                    provide audit, tax, legal, and advisory services
                    and cooperate closely with our clients to help
                    them mitigate risks and realize opportunities
                    for their business.
                </div>
                <a href="#" class="kpmg-link link">
                    kpmg.ua
                </a>
            </div>
            <div class="column-3 col">
                <figure class="icon">
                    <img src="assets/img/icons/reputation.png" alt="reputation-img">
                </figure>
                <h3 class="column-title">
                    reputation
                </h3>
                <div class="info">
                    The clients of KPMG International member
                    firms include corporations, government
                    agencies, and non-profit organizations.
                    <b>
                        We provide our clients with high-quality
                        standards based on professionalism...
                    </b>

                </div>
                <a href="#" class="read-more-link link">
                    Read more
                </a>
                <a href="#" class="kpmg-link link">
                    kpmg.ua
                </a>
            </div>
        </div>
    </div>
</section>