<footer class="footer">
    <div class="contact-us">
        Please contact us: <a href="mailto:kdr-support@kpmg.ua">kdr-support@kpmg.ua</a>
    </div>
    <nav class="footer-nav-bar">
        <a href="#" class="footer-link">Accession Agreement</a>
        <a href="#" class="footer-link">Dutch regulations </a>
        <a href="#" class="footer-link">English regulations </a>
        <a href="#" class="footer-link">Operator fee schedule </a>
        <a href="#" class="footer-link">Confirmation letter template</a>
        <a href="#" class="footer-link">Statement of liability limitatio</a>
        <a href="#" class="footer-link">Protection of personal data</a>
    </nav>
    <div class="ltd">
        KPMG-Ukraine Ltd., a company incorporated under the Laws of Ukraine, a member firm of the KPMG network of independent member firms
        affiliated with KPMG International Cooperative ("KPMG International"), a Swiss entity.
    </div>
</footer>