<!--<header class="header">-->
    <!--<nav class="nav-bar">-->

        <!--<div class="brand">-->
            <!--<a href="#" class="nav-link logo-link">-->
                <!--<img class="logo-img" src="assets/img/logo/kpmg-logo.png" alt="logo-img">-->
            <!--</a>-->
            <!--<h1 class="brand-text" >-->
                <!--Platform user’s choice-->
            <!--</h1>-->
        <!--</div>-->

        <!--<div class="right-nav-side">-->
            <!--<div class="nav-link-group">-->
                <!--<a href="#" class="nav-link">Users</a>-->
                <!--<a href="#" class="nav-link">Authorization</a>-->
                <!--<a href="#" class="nav-link">Admin</a>-->
            <!--</div>-->
            <!--<a href="#" class="nav-link challenge-btn">-->
                <!--go to Challenge-->
            <!--</a>-->

            <!--<div class="burger-m-language">-->
                <!---->
                <!--<a class="language-select">-->
                    <!--<span>EN</span>-->
                    <!--<div class="lang-arrow" id="l-arrow"></div>-->
                <!--</a>-->

                <!--<div id="dropdown" class="select-lang-list">-->
                    <!--<a class="lang-selector" href="#">fr</a>-->
                    <!--<a class="lang-selector" href="#">ru</a>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</nav>-->
<!--</header>-->

<header class="header">
    <!--burger-->

    <div class="burger-menu">
        <!--<input type="checkbox" id="check-menu">-->
        <!--<label for="check-menu" class="burger-label"></label>-->
        <!--<nav class="navigation">-->
            <!--<a href="#" class="nav-link">Users</a>-->
            <!--<a href="#" class="nav-link">Authorization</a>-->
            <!--<a href="#" class="nav-link">Admin</a>-->
            <!--<a href="#" class="nav-link">Блог</a>-->
        <!--</nav>-->
        <div class="burger-line first-l"></div>
        <div class="burger-line second-l"></div>
        <div class="burger-line third-l"></div>
    </div>
    <!--end of the burger-->
</header>