<section class="main">
    <div class="title">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
    </div>
    <div class="points-of-success">

        <div class="points">
            <div class="point">
                <div class="dot"></div>
                <h3 class="message">Acceptance of proposals</h3>
            </div>
            <div class="point">
                <div class="dot"></div>
                <h3>Challenge</h3>
            </div>
            <div class="point winner">
                <h3>Winner selection</h3>
                <figure class="win-img">
                    <img src="assets/img/winner-img.png" alt="winner-img">
                </figure>
                <div class="winner-text">
                    Lorem ipsum dolor sit amet,
                    consectetur  adipiscing elit, sed do
                    eiusmod tempor incididunt ut.
                </div>
            </div>
            <div class="point">
                <div class="dot"></div>
                <h3>Payment<br>for the asset</h3>
            </div>
        </div>
        <div class="line"></div>

    </div>
    <div class="scroll-to-see">
        <span>Scroll down</span>
        <figure class="scroll-img"><img src="assets/img/scroller.png" alt="scroller-img"></figure>
        <span>to see more</span>
    </div>
</section>