<section class="we-offer">
    <div class="container">
        <div class="title-wrap">
            <h2>We offer our clients</h2>
            <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>

        <div class="content">
            <div class="first-col-cont col">
                <div class="first-head-wrap">
                    <h3>
                        Convenient and simple interface
                    </h3>
                    <div class="offer-descr">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit,
                        sed do eiusmod tempor
                    </div>
                </div>

                <h3>
                    Long-term support
                </h3>
            </div>

            <div class="second-col-cont col">
                <div class="kpmg-circle">
                    <span>KPMG consec<wbr>elit</span>
                </div>
            </div>

            <div class="third-col-cont col">
                <h3>
                    Reputation, reliability,
                    and safety
                </h3>
                <h3>
                    Transparency
                </h3>
            </div>
        </div>
    </div>

</section>
